/* Header css */
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.header-title{
    font-size: 20px;
    color: white;
    font-weight: bold;
    align-items: center;
}