/* Centering the form container */
.form-container{
  width: 90%;
  margin: 50px auto;
  padding: 40px;
  background: #d4edd4;;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0 ,0.2);
  text-align: center;
  
}





.form-group label{
  font-size: 16px;
  font-weight: bold;
  color: #2d732d;
  
}

.form-group input{
  width: 90%;
  margin: 5px auto;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #2d732d;
  border-radius: 5px;
  margin-bottom:20px ;
  display: block;
}

.form-group select{
  width: 97%;
  margin: 5px auto;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #2d732d;
  border-radius: 5px;
  margin-bottom:20px ;
  display: block;
}




/* Proceed Button */
.submit-button {
  background: #4CAF50;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background: #388E3C;
  transform: scale(1.05);
}

.submit-button:active {
  transform: scale(0.95);
}
